<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.dao.AdjustMapper">
    <resultMap id="BaseResultMap" type="com.nf.entity.Adjust">
        <id column="j_id"  property="jId"/>
        <result column="j_name"  property="jName"/>
        <result column="j_SKUmodel" property="jSkumodel"/>
        <result column="j_num" property="jNum"/>
        <result column="j_names"  property="jNames"/>
        <result column="j_cause"  property="jCause"/>
        <result column="j_time"  property="jTime"/>
        <result column="j_whid"  property="jWhid"/>
        <result column="j_volum" property="jVolum"/>
        <collection property="godowns" ofType="com.nf.entity.Godown">
            <id column="go_id"  property="goId"/>
            <result column="go_whid"  property="goWhid"/>
            <result column="go_p"  property="goP"/>
            <result column="go_volume" property="goVolume"/>
            <result column="go_usevolume"  property="goUsevolume"/>
            <result column="go_rdvolume"  property="goRdvolume"/>
        </collection>
    </resultMap>

    <select id="select" resultMap="BaseResultMap">
        select a.*,g.*
        from adjust a, godown g where a.j_whid = g.go_id
        <if test="num != null and num != ''">
            and j_SKUmodel = #{num}
        </if>
        <if test="startTime != null">
            <![CDATA[ and j_time >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[ and j_time <= #{endTime} ]]>
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from adjust where j_id = #{jId}
    </delete>

    <insert id="insert" parameterType="com.nf.entity.Adjust">
    insert into adjust (j_id, j_name, j_SKUmodel,j_num, j_names, j_cause,
         j_time, j_whid, j_volum)
    values (#{jId}, #{jName}, #{jSkumodel},#{jNum}, #{jNames}, #{jCause},
        #{jTime}, #{jWhid}, #{jVolum})
  </insert>
</mapper>