<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.dao.RoleMapper">
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, name, seq, description, status
    </sql>
    <!--查询role所有数据-->
    <select id="selectAll" resultType="com.nf.entity.Role">
        select
        <include refid="Base_Column_List"/>
        from role order by seq
    </select>

    <!--查询当前角色拥有的资源-->
    <select id="selectResourceIdListByRoleId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT
            e.resource_id AS id
        FROM  role r
            LEFT JOIN role_resource e ON r.id = e.role_id
        WHERE
            r.id = #{id}
    </select>

    <!--查询当前角色可管理的所有资源和当前角色管理的菜单0-->
    <select id="selectResourceIdListByRoleIdAndType" resultType="com.nf.entity.Resource" parameterType="java.lang.Long">
        select distinct
            s.id AS id,
            s.name AS name,
            s.url AS url,
            s.description AS description,
            s.icon AS icon,
            s.pid AS pid,
            s.seq AS seq,
            s.status AS status,
            s.resource_type AS resource_type,
            s.create_time AS create_time
        from  role r
            left join role_resource e ON r.id = e.role_id
            left join resource s ON e.resource_id = s.id
        where
            r.id = #{id}
        AND
            s.resource_type = 0
    </select>
   <!-- 查询当前角色可管理的url地址 -->
    <select id="selectResourceListByRoleId" resultType="java.util.HashMap" parameterType="java.lang.Long">
        select e.id, s.url from  role r
            left join role_resource e ON r.id = e.role_id
            left join resource s ON e.resource_id = s.id
        where
            r.id = #{id}
    </select>

    <select id="selectRoleList" resultType="com.nf.entity.Role">
        select
        <include refid="Base_Column_List"/>
        from role
        order by ${sort} ${order}
    </select>
</mapper>