<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.dao.TariffMapper">

    <resultMap id="BaseResultMap" type="com.nf.entity.Tariff">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="cause" jdbcType="VARCHAR" property="cause" />
        <result column="scope" jdbcType="INTEGER" property="scope" />
        <result column="money" jdbcType="DECIMAL" property="money" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
    </resultMap>
    <sql id="Base_Column_List">
        id, cause, scope, money, unit
    </sql>

    <select id="selectByCause" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tariff
    </select>

</mapper>